#service-content {
    margin: 0;
}

.service-intro {
    background-color: #F5F7F8;
}

.service-intro > div { 
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
}

#service-common {
    background-color: #F5F7F8;
}

.service-common-text {
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
}

.service-intro > div > h1, .service-common-text > h1 {
    margin: 0;
    color: #4CAF50;
}

.service-intro > div > p, .service-common-text > p{
    font-size: large;
    color: gray;
    line-height: 27px;
}

.service-cards {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.service-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card img {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #ddd;
}

.service-card-content {
    padding: 0 15px;
}

.service-card-content > h3 {
    color: gray;
}

.service-card-content > p {
    color: rgb(84, 83, 83);
}

.service-card-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-card-buttons > a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    border: solid #4CAF50;
}

.service-card-buttons > .book-btn {
    background-color: #4CAF50;
}

.service-card-buttons > .learn-btn {
    background-color: white;
    color: #4CAF50;
}

.service-card-buttons > .book-btn:hover {
    background-color: #56d45a;
    border-color: #56d45a;
}

.service-card-buttons > .learn-btn:hover {
    background-color: #56d45a;
    border-color: #56d45a;
    color: white;
}

@media (max-width: 1024px) {
    .service-intro > div {
        width: 95%;
    }

    .service-card {
        height: 400px;
    }

    .service-common-text {
        width: 95%;
    }
}