body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#navbar > .logo > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

#navbar > a > img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#navbar {
    background-color: white; /* Green */
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo > a {
    color: #4CAF50;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
}

.nav-links > a:hover {
    color: grey;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.profile > img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #4CAF50;
    height: 3px;
    width: 25px;
    margin: 4px 0;
}

.mb-profile {
    display: none;
}


@media (max-width: 768px) {

    .mb-profile {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #4CAF50; /* Green */
        text-align: center;
        margin-top: 0.5rem;
    }

    .nav-links a {
        color: white;
    }

    .nav-links > a:hover{
        color: beige;
    }

    .nav-links.show {
        display: flex;
    }

    .toggle-button {
        display: flex;
    }
}